{% extends 'basic.html' %} {% block title %}
<title>Admin Panel</title>
{% endblock %} {% block css %} {% endblock %} {% block content %}
<section class="vh-100" style="background-color: #ffff">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card shadow-2-strong"
          style="border-radius: 1rem; background-color: #ebcc34"
        >
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Admin login</h3>
            <form action="" method="post">
              {% csrf_token %}
              <div class="form-outline mb-4">
                <input
                  name="name"
                  type="Name"
                  placeholder="Username"
                  id="typeEmailX-2"
                  class="form-control form-control-lg"
                />
              </div>

              <div class="form-outline mb-4">
                <input
                  name="password"
                  type="password"
                  placeholder="Password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                />
              </div>
              <h5 style="color: red">{{message}}</h5>
              <button class="btn btn-primary btn-lg btn-block" type="submit">
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
